@import '../globals.scss';

.section_2 {
    height: 100vh;
    background: #FFFFFF;
    z-index: 1;

    .text {
        grid-area: 1 / 2 / 2 / 12;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: $small;
        text-align: center;
    }
}